{% extends "layouts/home.html" %} <!----> {% block title %} About us {% endblock title %}<!---->
{% block content %}
        <!-- About company -->
        <section class="container pb-5 pt-5 mb-md-2 mb-lg-4 mt-5">
            <h1 class="border-bottom pb-4">About us</h1>
            <div class="row pt-2 pt-md-3">
                <div class="col-md-6">

                    <p class="fs-lg pe-lg-4 mb-1 mb-lg-4"> {{domain}} opens access to professional financial
                        services on the cryptocurrency market in order to increase your savings. We are engaged in trust
                        management of finances on cryptocurrency exchanges. <br> <br> We offer the most favorable
                        conditions on the market, combining high profits with stable investments. The main advantages of
                        our company are its profitability, convenience for clients and low risks. Thanks to the
                        experience of our traders and developed trading strategies we can guarantee a significant growth
                        of your capital in a short period of time. By taking advantage of our services you become a
                        member of the world`s largest financial market

                        Our goal is to provide our investors with a reliable source of high income, while minimizing any
                        possible risks and offering a high-quality service, allowing us to automate and simplify the
                        relations between the investors and the trustees. <br> <br> We work towards increasing your
                        profit margin by profitable investment. We look forward to you being part of our community.</p>
                </div>
                <div class="col-md-6">
                    <img src="/assets/img/trading-tools-forex.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="py-lg-10 py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="mb-8 text-center">
                            <h2 class="h1">Why Choose <span class="text-theme-colored2">
                                    {{domain}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <h4 class="media-heading heading">Legal Company</h4>
                                    <p>{{domain}} is a company registered in US providing its investment
                                        services to the members all around the world.</p>
                    </div>
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <h4 class="media-heading heading">Instant Exchange</h4>
                                    <p>Change your world today and make yourself a great tomorrow, invest with the
                                        little money you have and make a great profit at the end.</p>
                    </div>
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <h4 class="media-heading heading">Strong Security</h4>
                                    <p>All data on financial operations as well as personal data are effectively
                                        protected with DigiCert Inc SSL certificates.</p>
                    </div>
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <h4 class="media-heading heading">Payment Options</h4>
                                    <p>We provide various withdrawal methods for easy withdrawal of your earnings.</p>
                    </div>
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <h4 class="media-heading heading">Expert Support</h4>
                                    <p>Our 24/7 support allows us to keep in touch with customers in all time zones and
                                        regions.</p>
                    </div>
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <h4 class="media-heading heading">World Coverage</h4>
                                    <p>Our platform is used by bitcoin investors and traders worldwide.</p>
                    </div>
                    <div class="mt-lg-10 mt-4 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-lg-flex justify-content-between align-items-center">
                                    <h4 class="mb-2 ">Have any questions?</h4><a class=" btn btn-primary"
                                            href="/faqs">Goto Support Center</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container py-5 my-md-3 my-lg-5">
        <h2 class="h1 text-center pt-1 pb-3 mb-3 mb-lg-4">Our Team</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="/assets/img/martyr.jpeg" class="rounded-3" alt="Jenny Wilson">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                  
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Thando Lerato Iminathi</h3>
                <p class="fs-sm mb-0">Co-Founder &amp; CEO</p>
              </div>
            </div>
          </div>

            <!-- Item -->
            <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="/assets/img/thomas.jpeg" class="rounded-3" alt="Cameron Williamson">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Thomas krakow</h3>
                <p class="fs-sm mb-0">Co-Founder</p>
              </div>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="/assets/img/cordilia.jpeg" class="rounded-3" alt="Ralph Edwards">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                 
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Cordelia walker </h3>
                <p class="fs-sm mb-0">Trading Operations manager.</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="/assets/img/Audrey.jpeg" class="rounded-3" alt="Cameron Williamson">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr Gathuka Franklin</h3>
                <p class="fs-sm mb-0">Chief Financial Officer (CFO)</p>
              </div>
            </div>
          </div>

        
        </div>
      </section>

      {% endblock content %}