{% extends "layouts/home.html" %} {% block title %} welcome {% endblock title %}
{% block content %}

<section
  class="bg-size-cover bg-repeat-0 bg-position-center position-relative py-5 p-3 mb-5"
>
  <div
    class="container position-relative zindex-2 pt-5 pb-md-2 pb-lg-4 pb-xl-5"
  >
    <div class="row pt-3 pb-2 py-md-4">
      <!-- Text -->
      <div
        class="col-xl-5 col-md-6 pt-lg-5 text-center text-md-start mb-4 mb-md-0"
      >
        <h1 class="display-5 pb-2 pb-sm-3">
          THE RELIABLE PLATFORM TO TRADE & INVEST
        </h1>
        <p class="fs-lg d-md-none d-xl-block pb-2 pb-md-0 mb-4 mb-md-5">
          We’re thesis driven investors that make long-term, high-conviction
          investments in category defining crypto companies and protocols across
          public and private markets.
        </p>
        <div
          class="d-flex justify-content-center justify-content-md-start pb-2 pt-lg-2 pt-xl-0"
        >
          <a
            href="/sign-up"
            class="btn btn-lg btn-primary shadow-primary me-3 me-sm-4"
            >Create an Account</a
          >
          <a
            href="/sign-in"
            class="btn btn-lg btn-outline-secondary shadow-primary me-3 me-sm-4"
            >Sign in
          </a>
        </div>
      </div>

      <!-- Parallax gfx -->
      <div class="col-xl-7 col-md-6 mb-5">
        <div
          class="parallax mx-auto ms-md-0 me-md-n5 mb-5"
          style="
            max-width: 675px;
            transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            pointer-events: none;
          "
        >
          <div
            class="parallax-layer zindex-2"
            data-depth="0.1"
            style="
              transform: translate3d(2.7px, -2.3px, 0px);
              transform-style: preserve-3d;
              backface-visibility: hidden;
              position: relative;
              display: block;
              left: 0px;
              top: 0px;
            "
          >
            <!-- <img src="/assets/img/landing/saas-3/hero/layer01.png" alt="Card"> -->
          </div>

          <div
            class="parallax-layer"
            data-depth="-0.15"
            style="
              transform: translate3d(-4.1px, 3.4px, 0px);
              transform-style: preserve-3d;
              backface-visibility: hidden;
              position: absolute;
              display: block;
              left: 0px;
              top: 0px;
            "
          >
            <img
              src="/assets/img/phone-crypto-diversification-pixels-mobile.png"
              alt="Bubble"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<br />
<br />
<br />

<section class="dark-mode bg-dark position-relative pt-5 pb-4 py-md-5 mt-5">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-secondary"></div>
  <div
    class="container position-relative zindex-3 py-lg-4 pt-md-2 py-xl-5 mb-lg-4"
  >
    <div class="row justify-content-center text-center pb-4 mb-2">
      <div class="col-xl-6 pt-2">
        <h2 class="h1 mb-4">Investing. Now available to everyone.</h2>
        <p class="fs-lg mb-0">
          Auto-invest in the whole crypto market with a single click
        </p>
      </div>
    </div>

    <script
      defer
      src="https://www.livecoinwatch.com/static/lcw-widget.js"
    ></script>
    <div
      class="livecoinwatch-widget-5"
      lcw-base="USD"
      lcw-color-tx="#999999"
      lcw-marquee-1="coins"
      lcw-marquee-2="movers"
      lcw-marquee-items="10"
    ></div>
    <!-- Title -->

    <div style="height: 500px">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
          async
        >
          {
              "width": "100%",
                  "height": "100%",
                      "defaultColumn": "overview",
                          "screener_type": "crypto_mkt",
                              "displayCurrency": "USD",
                                  "colorTheme": "dark",
                                      "locale": "en",
                                          "isTransparent": true
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
</section>

<section class="container mb-md-2 mb-lg-4 mb-xl-5">
  <div class="row align-items-center pt-2 pb-3">
    <div class="col-md-6 col-xl-5 text-center text-md-start mb-md-0">
      <h2 class="h1 pb-2 pb-lg-3">
        Start your journey to financial freedom with us.
      </h2>
      <p class="pb-2 mb-4 mb-lg-5">
        Investing in cryptocurrency can be intimidating, especially for
        beginners. Sometimes managing a crypto investment is daunting due to the
        uncertainty and volatility of the market, as well as the time investment
        needed to be successful.
      </p>
      <hr />
    </div>

    <div class="col-md-6 offset-xl-1">
      <div class="parallax ratio ratio-1x1 mx-auto" style="max-width: 550px">
        <div
          class="parallax-layer position-absolute zindex-2"
          data-depth="-0.15"
        >
          <img src="/assets/img/Invest-BCI.png" alt="Avatar" />
        </div>
        <div
          class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100"
          data-depth="0.1"
        >
          <div
            class="rounded-circle bg-primary"
            style="width: 70%; height: 70%; opacity: 0.06"
          ></div>
        </div>
        <div
          class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100"
          data-depth="0.2"
        >
          <div
            class="rounded-circle bg-primary"
            style="width: 55%; height: 55%; opacity: 0.06"
          ></div>
        </div>
        <div
          class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 zindex-3"
          data-depth="0.4"
        >
          <div
            class="d-flex justify-content-center align-items-center rounded-circle bg-primary"
            style="
              width: 93px;
              height: 93px;
              box-shadow: 0 0.1875rem 1.875rem -0.125rem rgba(99, 102, 241, 0.95);
            "
          >
            <span class="h5 text-light mb-0"></span>
          </div>
        </div>
        <div
          class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100"
          data-depth="0.3"
        >
          <div
            class="rounded-circle bg-primary"
            style="width: 40%; height: 40%; opacity: 0.06"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row align-items-center mb-2 pb-sm-3 mb-5 pb-md-4">
    <!-- Text -->
    <div
      class="col-md-5 col-lg-6 col-xl-5 offset-xl-1 order-md-2 text-center text-md-start mb-5 mb-md-0"
    >
      <h2 class="h1 pb-2 pb-lg-3">
        Make Your Life a lot Easier with {{domain}}
      </h2>
      <p class="pb-2 mb-4 mb-xl-5">
        The easiest way to invest in cryptocurrency No trading skills. One of
        the most obvious benefits of our investment is the potential for high
        returns. Unlike traditional investments like stocks or real estate, you
        don't need a lot of money to get started.
      </p>
      <hr />
    </div>

    <!-- Parallax gfx -->
    <div class="col-md-7 col-lg-6 order-md-1">
      <div class="position-relative pt-5" style="max-width: 636px">
        <img
          src="/assets/img/popup.png"
          class="rellax position-absolute top-0 mt-n5"
          alt="Card"
          data-rellax-percentage="0.5"
          data-rellax-speed="1"
          data-disable-parallax-down="lg"
        />
        <img
          src="/assets/img/crypto+logos+2.jpg"
          class="d-block rounded-3 mt-sm-4 mt-md-0 mt-lg-4"
          alt="Dashboard"
          style="
            box-shadow: 0 1.875rem 7.5rem -0.625rem rgba(124, 125, 152, 0.2);
          "
        />
      </div>
    </div>
  </div>
</section>

<!-- How it works (Steps + Video) -->
<section class="container py-5 mt-5">
  <div
    class="text-center pb-4 pb-md-0 mb-2 mb-md-5 mx-auto"
    style="max-width: 530px"
  >
    <h2 class="h1">How Does It Work?</h2>
    <p class="mb-0">Get started in minutes</p>
  </div>

  <!-- Steps -->
  <div
    class="steps steps-sm steps-horizontal-md steps-center pb-5 mb-md-2 mb-lg-3"
  >
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Register</h3>
        <p class="mb-0">Sign up to create your free {{domain}} account</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Verify</h3>
        <p class="mb-0">
          Verify your identity with your valid ID card to increase your
          withdrawal limited .
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Deposit.</h3>
        <p class="mb-0">Deposit your funds securely through popular options</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Earn with {{domain}}</h3>
        <p class="mb-0">
          Investment your funds and start earning from our automated Investment
          system
        </p>
      </div>
    </div>
  </div>
</section>

<section class="dark-mode bg-dark position-relative pt-5 pb-4 py-md-5">
  <h2 class="h1 text-center pb-3 pb-md-4">
    Easy package for every trader/Investor
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="border-0 mb-3 card">
          <div class="p-0 card-body">
            <div class="p-5 text-center">
              <img
                src="static/media/price-icon-1.8809062d5fdbb0a474434c55e03034b7.html"
                alt=""
                class="mb-5"
              />
              <div class="mb-5">
                <h2 class="fw-bold">STARTER</h2>
              </div>
              <div class="d-flex justify-content-center mb-4">
                <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Minimum Deposit: $500
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Maximum Deposit: $999
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    ROI : 30%
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Duration: 7 Days
                  </li>
                </ul>
              </div>
              <div class="d-grid">
                <a
                  href="/investments"
                  type="button"
                  class="btn btn-sm btn-outline-secondary fs-sm w-100"
                  >Start Investing</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="border-0 mb-3 card">
          <div class="p-0 card-body">
            <div class="p-5 text-center">
              <img
                src="static/media/price-icon-1.8809062d5fdbb0a474434c55e03034b7.html"
                alt=""
                class="mb-5"
              />
              <div class="mb-5">
                <h2 class="fw-bold">BASIC</h2>
                <p class="mb-0"></p>
              </div>
              <div class="d-flex justify-content-center mb-4">
                <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Minimum Deposit: $1,000
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Maximum Deposit: $4,999
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    ROI : 75%
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Duration: 7 Days
                  </li>
                </ul>
              </div>
              <div class="d-grid">
                <a
                  href="/investments"
                  type="button"
                  class="btn btn-sm btn-outline-secondary fs-sm w-100"
                  >Start Investing</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="border-0 mb-3 card">
          <div class="p-0 card-body">
            <div class="p-5 text-center">
              <img
                src="static/media/price-icon-1.8809062d5fdbb0a474434c55e03034b7.html"
                alt=""
                class="mb-5"
              />
              <div class="mb-5">
                <h2 class="fw-bold">STANDARD</h2>
              </div>
              <div class="d-flex justify-content-center mb-4">
                <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Min. Deposit: $5,000
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Max. Deposit: $9,999
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    ROI : 100%
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Duration: 7 Days
                  </li>
                </ul>
              </div>
              <div class="d-grid">
                <a
                  href="/investments"
                  type="button"
                  class="btn btn-sm btn-outline-secondary fs-sm w-100"
                  >Start Investing</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="border-0 mb-3 card">
          <div class="p-0 card-body">
            <div class="p-5 text-center">
              <img
                src="static/media/price-icon-1.8809062d5fdbb0a474434c55e03034b7.html"
                alt=""
                class="mb-5"
              />
              <div class="mb-5">
                <h2 class="fw-bold">PROFESSIONAL</h2>
              </div>
              <div class="d-flex justify-content-center mb-4">
                <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Min. Deposit: $10,000
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Max. Deposit: $19,999
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    ROI : 100%
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Duration: 7 Days
                  </li>
                </ul>
              </div>
              <div class="d-grid">
                <a
                  href="/investments"
                  type="button"
                  class="btn btn-sm btn-outline-secondary fs-sm w-100"
                  >Start Investing</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="border-0 mb-3 card">
          <div class="p-0 card-body">
            <div class="p-5 text-center">
              <img
                src="static/media/price-icon-1.8809062d5fdbb0a474434c55e03034b7.html"
                alt=""
                class="mb-5"
              />
              <div class="mb-5">
                <h2 class="fw-bold">EXPERT</h2>
              </div>
              <div class="d-flex justify-content-center mb-4">
                <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Min. Deposit: $20,000
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Max. Deposit: $50,999
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    ROI : 100%
                  </li>
                  <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-info me-1"></i>
                    Duration: 7 Days
                  </li>
                </ul>
              </div>
              <div class="d-grid">
                <a
                  href="/investments"
                  type="button"
                  class="btn btn-sm btn-outline-secondary fs-sm w-100"
                  >Start Investing</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="container py-5 mb-2 mt-sm-2 my-md-4 my-lg-5">
  <div class="row pt-2 py-xl-3">
    <div class="col-lg-3 col-md-4">
      <h2
        class="h1 text-center text-md-start mx-auto mx-md-0 pt-md-2"
        style="max-width: 300px"
      >
        Don't just <br class="d-none d-md-inline" />take our word<br
          class="d-none d-md-inline"
        />
        for it :
      </h2>

      <!-- Slider controls (Prev / next buttons) -->
      <div
        class="d-flex justify-content-center justify-content-md-start pb-4 mb-2 pt-2 pt-md-4 mt-md-5"
      >
        <button
          type="button"
          id="prev-testimonial"
          class="btn btn-prev btn-icon btn-sm me-2"
        >
          <i class="bx bx-chevron-left"></i>
        </button>
        <button
          type="button"
          id="next-testimonial"
          class="btn btn-next btn-icon btn-sm ms-2"
        >
          <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div
        class="swiper mx-n2"
        data-swiper-options='{
              "slidesPerView": 1,
              "spaceBetween": 8,
              "loop": true,
              "navigation": {
                "prevEl": "#prev-testimonial",
                "nextEl": "#next-testimonial"
              },
              "breakpoints": {
                "500": {
                  "slidesPerView": 2
                },
                "1000": {
                  "slidesPerView": 2
                },
                "1200": {
                  "slidesPerView": 3
                }
              }
            }'
      >
        <div class="swiper-wrapper">
          <!-- Item -->
          <div class="swiper-slide h-auto pt-4">
            <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0 mx-2">
              <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                <span
                  class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4"
                >
                  <i class="bx bxs-quote-left"></i>
                </span>
                <blockquote class="card-body pb-3 mb-0">
                  <p class="mb-0">
                    {{domain}} is headquartered in Vienna and therefore has to
                    comply with European regulators, which makes me even more
                    inclined to invest my funds in cryptocurrencies and stocks
                    on this platform.
                  </p>
                </blockquote>
                <div class="card-footer border-0 text-nowrap pt-0">
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bx-star text-muted opacity-75"></i>
                  <i class="bx bx-star text-muted opacity-75"></i>
                </div>
              </div>
              <figcaption class="d-flex align-items-center ps-4 pt-4">
                <img
                  src="../dataminingsolutionltd.com/assets/uploads/content/1.jpg"
                  width="48"
                  class="rounded-circle"
                  alt="Robert Fox"
                />
                <div class="ps-3">
                  <h6 class="fs-sm fw-semibold mb-0">Samantha</h6>
                  <span class="fs-xs text-muted">Client</span>
                </div>
              </figcaption>
            </figure>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto pt-4">
            <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0 mx-2">
              <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                <span
                  class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4"
                >
                  <i class="bx bxs-quote-left"></i>
                </span>
                <blockquote class="card-body pb-3 mb-0">
                  <p class="mb-0">
                    The platform is structured to be very simple to use while
                    you trade everything from a wide range of crypto-assets to
                    precious metals and 24/7 fractional shares.
                  </p>
                </blockquote>
                <div class="card-footer border-0 text-nowrap pt-0">
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                </div>
              </div>
              <figcaption class="d-flex align-items-center ps-4 pt-4">
                <img
                  src="../dataminingsolutionltd.com/assets/uploads/content/3.jpg"
                  width="48"
                  class="rounded-circle"
                  alt="Annette Black"
                />
                <div class="ps-3">
                  <h6 class="fs-sm fw-semibold mb-0">Matt</h6>
                  <span class="fs-xs text-muted">Investor</span>
                </div>
              </figcaption>
            </figure>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto pt-4">
            <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0 mx-2">
              <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                <span
                  class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4"
                >
                  <i class="bx bxs-quote-left"></i>
                </span>
                <blockquote class="card-body pb-3 mb-0">
                  <p class="mb-0">
                    I have been a {{domain}} user for many years and have been
                    very satisfied so far. Everything is super simple and
                    clearly laid out. You can make your first purchase with just
                    a few clicks.
                  </p>
                </blockquote>
                <div class="card-footer border-0 text-nowrap pt-0">
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bxs-star text-warning"></i>
                  <i class="bx bx-star text-muted opacity-75"></i>
                </div>
              </div>
              <figcaption class="d-flex align-items-center ps-4 pt-4">
                <img
                  src="../dataminingsolutionltd.com/assets/uploads/content/2.jpg"
                  width="48"
                  class="rounded-circle"
                  alt="Jerome Bell"
                />
                <div class="ps-3">
                  <h6 class="fs-sm fw-semibold mb-0">Stephen</h6>
                  <span class="fs-xs text-muted">Investor </span>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CTA -->
<section class="container">
  <div
    class="dark-mode bg-dark bg-size-cover bg-position-center bg-repeat-0 position-relative overflow-hidden rounded-3 py-lg-3 py-xl-5 px-4 px-lg-5 px-xl-0"
    style="background-image: url(assets/img/landing/saas-3/cta-bg.jpg)"
  >
    <div class="row position-relative zindex-2 py-5 my-1 my-md-3">
      <div class="col-md-12">
        <div class="mx-auto" style="max-width: 440px">
          <center>
            <h2 class="h1 pb-1 pb-md-3 pb-lg-4">
              Let's start your investing easier now!
            </h2>

            <a
              href="/plans"
              class="btn btn-lg btn-primary shadow-primary w-100 w-sm-auto"
              >Start Investing</a
            >
          </center>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="container pt-5 pb-4 pb-sm-5 mb-2 mb-sm-0 mb-lg-3 mb-xl-4 mt-md-2 mt-lg-4 mt-xl-5"
>
  <div class="row row-cols-1 row-cols-sm-3 pt-sm-3 py-2">
    <div class="col d-flex d-sm-block d-lg-flex align-items-start mb-3 mb-sm-0">
      <div
        class="d-table bg-primary shadow-primary rounded flex-shrink-0 p-2 mb-3"
      >
        <img
          src="/assets/img/landing/app-showcase/icons/chat.svg"
          width="24"
          class="d-block m-1"
          alt="Icon"
        />
      </div>
      <div class="ps-4 ps-sm-0 ps-lg-4 ms-lg-2 me-xl-2 pe-xl-5">
        <h3 class="h4 mb-2 mb-md-3">24/7 Chat Help</h3>
        <p class="mb-1 mb-md-2">
          Want to get in contact with us? We are always available to lend a
          helping hand through our contact form - no matter the issue.
        </p>
        <a href="contact.html" class="btn btn-link px-0">
          Talk to us
          <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
        </a>
      </div>
    </div>
    <div class="col d-flex d-sm-block d-lg-flex align-items-start mb-3 mb-sm-0">
      <div
        class="d-table bg-primary shadow-primary rounded flex-shrink-0 p-2 mb-3"
      >
        <img
          src="/assets/img/landing/app-showcase/icons/faq.svg"
          width="24"
          class="d-block m-1"
          alt="Icon"
        />
      </div>
      <div class="ps-4 ps-sm-0 ps-lg-4 ms-lg-2 pe-xl-5">
        <h3 class="h4 mb-2 mb-md-3">FAQ</h3>
        <p class="mb-1 mb-md-2">
          Find answers. Learn more about the features and services.
        </p>
        <a href="faq.html" class="btn btn-link px-0">
          Learn more
          <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
        </a>
      </div>
    </div>
    <div class="col d-flex d-sm-block d-lg-flex align-items-start">
      <div
        class="d-table bg-primary shadow-primary rounded flex-shrink-0 p-2 mb-3"
      >
        <img
          src="/assets/img/landing/app-showcase/icons/email.svg"
          width="24"
          class="d-block m-1"
          alt="Icon"
        />
      </div>
      <div class="ps-4 ps-sm-0 ps-lg-4 ms-lg-2 pe-xl-5">
        <h3 class="h4 mb-2 mb-md-3">Community</h3>
        <p class="mb-1 mb-md-2">
          Join our online community so you can be the first to hear about
          company news, new products and more.
        </p>
        <a href="#" class="btn btn-link px-0">
          Join us
          <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
