{% extends "layouts/home.html" %}
<!---->
{% block title %} terms and conditions{% endblock title %}<!---->
{% block content %}

<!-- Page content -->
<section
  class="bg-size-cover bg-position-bottom-center bg-repeat-0 py-5"
  style="background-image: url(/assets/img/contacts/bg.svg)"
>
  <div class="container pt-5 pb-lg-4 pb-xl-5">
    <div
      class="uk-section in-equity-7 uk-background-contain uk-background-top-left"
      data-src="img/in-equity-7-bg.jpg"
      data-uk-img=""
    >
      <div class="uk-container uk-margin-medium-top uk-margin-bottom">
        <div class="uk-card-body">
          <div class="uk-flex uk-flex-middle uk-margin-remove-bottom">
            <div></div>
          </div>
          <h2 class="uk-margin-top uk-margin-medium-bottom uk-text-center">
            Terms and Conditions
          </h2>
          <section class="faq-area ptb-110 bg-f4faff">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                  <h2 class="text-left">Terms of use</h2>
                  <p style="">
                    By getting to the Tokeno Limited site you agree to the
                    handling by Tokeno Limited and its representatives of any
                    close to home data given by you. Your admittance to and
                    utilization of the site ("Services") of Tokeno Limited are
                    molded on your acknowledgment of and consistence with these
                    Terms of Use ("Terms"). By getting to or utilizing the
                    Services, you consent to be limited by these Terms. On the
                    off chance that you are tolerating these Terms and utilizing
                    the Services for the benefit of an organization,
                    association, government, or other legitimate element, you
                    address and warrant that you are approved to do as such. You
                    may utilize the Services just in consistence with these
                    Terms and all relevant neighborhood, state, national ,and
                    global laws, rules, and guidelines.

                    <br />
                  </p>
                  <h2>Ownership</h2>
                  All materials on this site are possessed or authorized by
                  Tokeno Limited and additionally its outsider suppliers and are
                  secured by UK and worldwide licensed innovation laws. Except
                  if in any case showed, all help imprints, brand names, and
                  logos showing up on this site are the select property of
                  Tokeno Limited Management. The data, materials, and other
                  substance of this site may not be replicated, shown,
                  dispersed, downloaded, authorized, changed, distributed,
                  reposted, recreated, reused, sold, sent, used to make a
                  subordinate work, or in any case utilized for public or
                  business purposes without the express composed assent of
                  Tokeno Limited.

                  <br />
                  <h2>Products &amp; Services</h2>
                  The data, materials, items, and administrations on this site
                  are current at the hour of composing and are liable to change.
                  Not all items and administrations are accessible in all
                  geographic regions. Your qualification for specific items or
                  administrations is dependent upon assurance by and the
                  endorsement of Tokeno Limited. No requesting is made by Tokeno
                  Limited to any individual to utilize any data, materials,
                  items, or administrations in any locale where the arrangement
                  of such data, materials, items, and administrations is
                  restricted by law. <br /><br />The data on this site or in any
                  correspondence containing a connection to this site isn't
                  proposed to comprise speculation exhortation or a proposal to
                  sell, or the requesting of a proposal to buy shares or
                  different protections. Speculation items and administrations
                  are accessible through Tokeno Limited. <br /><br />Venture
                  items and administrations are not FDIC-safeguarded, are not
                  stores or commitments of, or ensured by, any bank, and imply
                  speculation chances, including the conceivable loss of the
                  chief sum contributed. Financial backers ought to consistently
                  get and peruse a cutting-edge speculation administrations
                  depiction or outline prior to concluding whether to designate
                  a venture director or put resources into an asset.

                  <br />
                  <h2>International Use</h2>
                  Tokeno Limited site might be gotten to globally, you consent
                  to follow every single neighborhood law, rules, and guidelines
                  including, without limit, all laws, rules and guidelines as a
                  result in the country in which you live and the country from
                  which you access the site. The data on this site isn't
                  expected for appropriation to, or use by, any individual or
                  element in any ward or nation where such circulation or
                  utilize would be in opposition to law or guideline, or which
                  would subject Tokeno Limited or its offshoots to any
                  enrollment necessity inside such locale or country.

                  <br />
                  <h2>INDEMNIFICATION</h2>
                  As a condition of your utilization of the Services, you
                  consent to reimburse and hold Tokeno Limited, its associates,
                  and its and their individual accomplices, chiefs,
                  representatives, and specialists innocuous from and against
                  all cases, misfortunes, risk, expenses, and costs (counting
                  however not restricted to lawyers' charges) emerging from -
                  your utilization of the site or from your infringement of
                  these Terms.

                  <br />
                  <h2>Limitation of Liability</h2>
                  In no occasion will Tokeno Limited be responsible for any
                  harms, misfortunes, or liabilities including without
                  impediment, immediate or backhanded, extraordinary accidental,
                  weighty harms, misfortunes, or liabilities, regarding your
                  utilization of this site or your dependence on or use or
                  powerlessness to utilize the data, materials, items, and
                  administrations on this site, or regarding any disappointment
                  of execution, mistake, exclusion, interference, imperfection,
                  delay in activity or transmission, PC virus ,or line or
                  framework disappointment, regardless of whether Tokeno Limited
                  is instructed concerning the chance of such harms,
                  misfortunes, or costs.

                  <br />
                  <h2>Website security and restriction.</h2>
                  As a condition to your utilization of Services, you concur you
                  won't make any move expected to:<br />(i) access information
                  that isn't proposed for you; <br />(ii) attack the protection
                  of, acquire the character of, or get any close to home data
                  about some other client of this site; <br />(iii) probe,
                  sweep, or test the weakness of this site or Tokeno Limited
                  organization or break security or confirmation measures
                  without appropriate approval; <br />(iv) endeavor to meddle
                  with administration to any client, host, or network or in any
                  case endeavor to upset our business; or <br />(v) send
                  spontaneous mail, including advancements and additionally
                  promoting of items and administrations. Unapproved utilization
                  of the site or Services, including however not restricted to
                  unapproved passage into Tokeno Limited's frameworks, abuse of
                  passwords, or abuse of any data presented on a site, is
                  rigorously disallowed. Segments of the site are assigned for
                  secret phrase access just as shown by a lock symbol. In these
                  cases, in the event that you don't have an approved password
                  ,no entrance is allowed.

                  <br />
                  <h2>Confidentiality and Password Security.</h2>
                  Certain pieces of this site might be ensured by passwords or
                  require a login. You are liable for keeping up with the
                  secrecy of you r user names, passwords, security questions,
                  and answers ..All data accessible through the special space of
                  the site is classified and exclusive to us. This incorporates
                  all venture data and results, offering materials, budget
                  summaries, and other data gave through this piece of the site.
                  <br /><br />You will utilize your earnest attempts to keep
                  this data rigorously secret. You won't unveil any of this data
                  to any individual or use it for any reason other than those
                  rigorously allowed by us, recorded as a hard copy.

                  <br />
                  <h2>SEVERABILITY.</h2>
                  In the event that any arrangement of these Terms is considered
                  unlawful, void, or under any condition unenforceable, then, at
                  that point that arrangement will be changed distinctly to the
                  degree important to make it enforceable, and it will be
                  considered severable from these Terms and won't influence the
                  legitimacy and enforceability of the excess arrangements.
                  <p></p>
                  <h2>WARRANTIES AND REPRESENTATIONS</h2>
                  You acknowledge and concur that the Service is given "as is ".
                  Tokeno Limited, its members, providers and Resellers
                  explicitly repudiate all guarantees, all things considered,
                  past and further. Just the Refund, express or inferred,
                  including without limitation any warrantee of merchantability,
                  qualification for a specific reason, non-encroachment or
                  bailment of your information on workers is conceivable.
                  <br /><br />Tokeno Limited, its offshoots, providers and
                  Resellers make no warrantee or portrayal, other than the
                  Refund, about the outcomes that might be gotten from the
                  Service, the security of the Services, or that the Services
                  will meet any client's necessities. The Services utilization
                  is just at your danger. You are all alone accountable for any
                  mischief to youarising from the Service. Every one of the
                  dangers emerging from use, security or execution of the
                  Service stays with You.
                  <p></p>

                  <p></p>
                  Make a wise Investment today! Register<br />

                  We assist your cash with developing and putting it in use . By
                  words as well as absolutely in activities . Our specialists
                  guarantee that your assets are not only at work , however are
                  painstakingly arranged and deliberately expanded exchanging
                  portfolio for hazard management . We guarantee we put smiles
                  on our customers with sensible profits from the venture.
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
