{% extends "layouts/users.html" %}<!---->
{% block title %} Update Address {% endblock title %}<!---->
{% block head %} {% endblock head %}<!---->

{% block content %}
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Update Address</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item active">Deposit</li> -->
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" id="deposit-container">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            <div class="mb-4">
              <label for="btc_address">BTC Address</label>
              <input
                class="form-control"
                placeholder="Bitcoin"
                type="text"
                id="btc_address"
                name="btc_address"
                value="{{user.btc_address}}"
                required
              />
            </div>

            <div class="mb-4">
              <label for="btc_address">USDT Address</label>
              <input
                class="form-control"
                placeholder="Usdt "
                type="text"
                id="usdt_address"
                name="usdt_address"
                value="{{user.usdt_address}}"
                required
              />
            </div>

            <div class="mb-4">
              <label for="btc_address">ETH Address</label>
              <input
                class="form-control"
                placeholder="Etheruem"
                type="text"
                id="eth_address"
                name="eth_address"
                value="{{user.eth_address}}"
                required
              />
            </div>

            <div class="form-group mt-3">
              <h4 class="text-50">
                Tip :
                <small class="text-muted">
                  make sure the address you provide is correct the company will
                  not be held responsible for any loss of funds
                </small>
              </h4>
            </div>

            <div class="text-center mt-4">
              <button
                id="send"
                type="submit"
                class="btn btn-primary waves-effect waves-light"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of pay with crypto content -->

<!-- end row -->

<!-- end row -->

{% endblock content %} {% block script %} {% endblock script %}
