{% extends "layouts/users.html" %}<!---->
{% block title %} Withdraw Funds {% endblock title %}<!---->
{% block head %}
<style>
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .radio-toolbar label {
    color: #556ee6;
    display: inline-block;
    background-color: #fff;
    padding: 20px 10px;
    font-size: 25px;
    border: 2px solid #444;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }

  .radio-toolbar label:hover {
    background-color: #9e9a9a;
  }

  .radio-toolbar input[type="radio"]:checked + label {
    background-color: #fd961a;
    border-color: #fd961a;
    color: #ffff;
  }
  .paymethod {
    display: flex;
    justify-content: center;
  }
  label {
    font-size: 20px;
  }
</style>
{% endblock head %}<!---->

{% block content %}
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">withdraw funds</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item active">Deposit</li> -->
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" id="deposit-container">
    <div class="col-md-6">
      <div class="card">
        <div class="col-md-12">
          <button
            onclick="window.location.assign('/update-wallet-address')"
            style="float: right; width: 245px"
            class="m-3 btn btn-md btn-info"
            type="button"
          >
            <i class="fa fa-edit"></i> Update withdrawal wallet address
          </button>
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group mb-4">
              <label class="form-label">Choose a payment method</label>
              <div class="paymethod">
                <div class="radio-toolbar" data-v-e9c37492="">
                  <input
                    type="radio"
                    name="mode"
                    id="mode_perfect_money"
                    required
                    value="ETH"
                    data-v-e9c37492=""
                  /><label for="mode_perfect_money" data-v-e9c37492=""
                    ><img src="/assets/users/images/eth.png" width="30px" />
                    Eth</label
                  >
                </div>
                <div class="radio-toolbar" data-v-e9c37492="">
                  <input
                    type="radio"
                    name="mode"
                    id="mode_btc"
                    required
                    value="BTC"
                    data-v-e9c37492=""
                  /><label for="mode_btc" data-v-e9c37492=""
                    ><img
                      src="/assets/users/images/bitcoin.ee55e6b2.svg"
                      width="25px"
                      data-v-e9c37492=""
                    />
                    BTC</label
                  >
                </div>
                <div class="radio-toolbar" data-v-e9c37492="">
                  <input
                    type="radio"
                    name="mode"
                    id="mode_usdt"
                    required
                    value="USDT"
                    data-v-e9c37492=""
                  /><label for="mode_usdt" data-v-e9c37492=""
                    ><img
                      src="/assets/users/images/usdt.png"
                      width="20px"
                      data-v-e9c37492=""
                    />
                    USDT</label
                  >
                </div>
              </div>
            </div>
            <input type="hidden" name="amount_in_coin" id="amount_in_coin" />
            <div class="mb-4">
              <label for="amount">Amount in Usd</label>
              <input
                class="form-control"
                placeholder="0"
                min="100"
                max="100000"
                type="number"
                id="amount"
                name="amount"
                required
              />
            </div>

            <div class="mb-4">
              <h5>
                Amount in <span id="coin"></span> : <code id="coinvalue"></code>
              </h5>
            </div>

            <div class="form-group mt-3">
              <h4 class="text-50">
                Tip :
                <small class="text-muted"
                  >Your withdrawal will be approved within a period of 6-12
                  Hours, Make sure you add a correct address in the settings
                  page. Your Current Balance is :
                  <span class="text-warning">${{user.balance}}</span>
                </small>
              </h4>
            </div>

            <div class="text-center mt-4">
              <button
                id="send"
                type="submit"
                class="btn btn-primary waves-effect waves-light"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of pay with crypto content -->

<!-- end row -->

<!-- end row -->

{% endblock content %} {% block script %}
<script>
  $(document).ready(function (e) {
    const fromCurrency = "USD";
    let amount;
    let tocurrency;

    const payMode = document.getElementsByName("mode");
    const Amount = document.getElementById("amount");

    function getPrice(tocurrency, amount) {
      const fromCurrency = "USD";

      const url = `https://min-api.cryptocompare.com/data/price?fsym=${fromCurrency}&tsyms=${tocurrency}`;

      fetch(url)
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          const tocurrencyAmount = data[tocurrency];
          var toamount = (amount * tocurrencyAmount).toLocaleString("en");
          document.getElementById("coinvalue").innerText = `${toamount}`;
          document.getElementById("amount_in_coin").value = `${toamount}`;
        })
        .catch((err) => {
          console.error(err);
        });
    }

    payMode.forEach((mode) => {
      mode.addEventListener("click", () => {
        tocurrency = mode.value;
        document.getElementById("coin").innerText = mode.value;
        // console.log(tocurrency);
        if (amount != "" && amount != undefined) {
          getPrice(tocurrency, amount);
        }
      });
    });

    Amount.addEventListener("keyup", () => {
      amount = Amount.value;
      // console.log(amount);
      if (amount != "" && tocurrency != undefined) {
        getPrice(tocurrency, amount);
      }
    });
  });
</script>

{% endblock script %}
